@import './media.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: normal;
  color: #0A0A0A;
  background-color: #F8FAFC;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: 50px;
}

.block {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 200px;
  min-width: 150px;
  max-width: 400px;
  margin: 10px;
  background-color: #FFFFFF;
  border: 1px solid #EBEBEB;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
}

.block-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  padding: 0 20px;
  background-color: #0A0A0A;
}

.block-header__title {
  font-size: 18px;
  font-weight: bold;
  color: #F8FAFC;
}

.block-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 20px;
}